body {
    background-color: brown;
}
h1, h2 {
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: fit-content;
    padding: 0.5rem;
}
.card {
    margin: 7rem;
    margin-right: 20rem;
    border: 1px solid white;
    border-radius: 4rem;
    padding: 1rem;
    padding-left: 9rem;
    background: radial-gradient(white, black);
    
}