body {
  background-color: #e6fafc;
  font-family: "Montserrat", sans-serif;
  max-height: 914px;
  font-size: 18px;
}
header,
main,
footer {
  margin: 1.25rem auto;
  
}
header,
footer {
  background-color: #27187e;
}
img {
  width: 130px;
}
.footerImg {
  width: 60px;
}
a > img {
  width: 45px;
  padding-top: 1rem;
}
.gram {
  padding-right: 1rem;
  padding-left: 1rem;
}
.logopage {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
}

picture > img {
  padding: 1rem;
}
h1, h2,
h3 {
  font-family: "Carter One", cursive;
  color: #e6fafc;
  padding-right: 0.5rem;
}
.socials {
  display: flex;
  margin-right: 1rem;
  
}
nav button {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #fff9ec;
  padding: 1rem;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.8rem 1rem;
  color: #fff9ec;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffb2e6;
}
nav ul li a:hover {
  background-color: #8447ff;
}
nav ul {
  display: none;
}
nav ul.open {
  display: block;
}
#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

.topdate {
  display: flex;
  justify-content: right;
  color: #fff9ec;
  padding-right: 1rem;
}
footer {
  color: #fff9ec;
  padding: 1rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
#location a {
  color: #fff9ec;
}
.classFooter {
  border-top: 1px solid white;
  padding-top: 1rem;
}
.blockOne {
  position: relative;
}
.blockTwo {
  height: 15rem;
  margin: 0.3rem auto;
  border: 1px solid black;
  padding: 1rem;
  background-color: #27187e;
  color: white;
}
.blockThree {
  height: 15rem;
  margin: 0.3rem auto;
  border: 1px solid black;
  padding: 1rem;
  padding-bottom: 3rem;
  background-color: #27187e;
  color: white;
}
.blockFour {
  height: 15rem;
  margin: 0.3rem auto;
  border: 1px solid black;
  padding: 1rem;
  background-color:  #27187E
}
.blockFour h2 {color:white;}
.blockFour p {color:white;}
.blockFive {
  height: 25rem;
  margin: 0.3rem auto;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #27187E;
}
.sp1 {
  border: 1px solid black;
  margin: 0.8rem;
  margin-bottom: 0;
  padding: 1rem;
 background-color: #297373;
}
.sp1 h2 {color: white;}
.sp1 p {color: white;}
.sp2 {
  border: 1px solid black;
  margin: 0.8rem;
  margin-top: 0;
  padding: 1rem;
  background-color: #297373;
}
.sp2 h2, p {color: white;}
.sp3 {display: none;}
.blockSix {
  display: none;
}
.heroImage{
  height: 15rem;
  width: 100%;
  
}

.blockOne h1 {
  position: absolute;
  top: 2rem;
  left: 2rem;
  margin: 0;
}
.blockOne h2 {
  position: absolute;
  top: 10rem;
  left: 17rem;
  margin: 0;
  background-color: #27187E;
  color: white;
  padding: .8rem;
  box-shadow: 1px 1px 4px 1px #888;
      border-radius: 5px;
}
.blockTwo h2 {
  text-align: center;
}
.p2{
  text-align: center;
  border-bottom:1px solid white;
}
.blockThree h2 {
  text-align: center;
}

.joinUsMess{ background-color: #E9D758;
padding: 0.5rem;
box-shadow:  #7a0008 1px 1px 10px;
top: 0rem;
left: 0rem;}
.joinUsMess p {color: black;}

