body {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

header,
main,
footer {
  margin: 1.25rem auto;
  max-width: 760px;
}

header,
footer {
  background-color: #684551;
  color: white;
  box-shadow: 1px 1px 4px 1px #888;
  border-radius: 5px;
}
footer {
  padding: 1rem;
}

header {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}

header img {
  max-width: 100%;
  border: 2px solid #04030f;
  margin: 0.5rem;
}
h1 {
  justify-items: center;
}
